body{
    background-color:#1775e2;
    font-family:Geneva,Arial;
    margin:auto;
    max-width:1090px;
    border :solid;
    border-color:white;
    left:40px;
}
header{
    background-color:#1775e2;
    display:block;
    color:white;
    text-align:center;
    background-image:url('imgs/Lalomanu_Beach_banner.jpg');
}
header h2{
    margin:0px;
    color:white;
}
h1{
    font-size:72px;
    margin:0px;
}
h2{
    font-size:24px;
 
}
h3 {
    font-size: 18px;
     
}
h2,h3{
    margin:0px;
    text-align:center;
    color:#1775e2;
}
h4{
    color:#1775e2;
    background-color:white;
    box-shadow: 2px 2px 20px 2px #888;
    -webkit-box-shadow: 2px 2px 20px 2px #888;
    -moz-box-shadow: 2px 2px 20px 2px #888;
    transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    position:absolute;
    left:-120px;
    top:70px;
    padding:0px 150px;
    text-align:center;
}
nav{
    display:block;
    width:20%;
    float:left;
    text-align:center;
}
nav a:link, nav a:visited{
    display:block;
    border-bottom:3px solid #59a1e9;
    padding: 10px;
    text-decoration:none;
    font-weight:bold;
    margin:5px;
    color:#1775e2;
}
nav a:hover{
    color:white;
    background-color:#1775e2;
}
nav h3{
    margin:20px;
    color:#1775e2;
}
#container{
    background-color:#1775e2;
    background-image:url('imgs/Wallpaper-white-b.jpg');
}
section{
    display:block;
    width:79%;
    float:left;
}
article{
    background-color:#eee;
    display:block;
    margin:10px;
    padding:10px;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    box-shadow: 2px 2px 20px 2px #888;
    -webkit-box-shadow: 2px 2px 20px 2px #888;
    -moz-box-shadow: 2px 2px 20px 2px #888;
}
article header{
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    padding:0px;
    font-size:24px;
    font-weight:bold;
    color:white;
}
article footer{
     border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    padding:0px;
    font-size:20px;
    font-weight:bold;
    color:white;
}
footer{
     border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    padding:0px;
    margin:0px;
    background-color:#1775e2;
    font-size:20px;
    color:white;
    text-align:center;
    clear:both;
}
aside{
    display:block;
}
a{
    color:white;
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}
aside p{
    margin:15px;
    color:black;
    font-weight:bold;
    font-style:italic;
    text-align:center;
}
aside img{
    margin-left:55px;
}
img{
    border-color:#1775e2;
    border-style:solid;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    box-shadow: 2px 2px 20px 2px #888;
    -webkit-box-shadow: 2px 2px 20px 2px #888;
    -moz-box-shadow: 2px 2px 20px 2px #888;
    transform:rotate(-5deg);
    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    }