<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="ConnectionString1" connectionString="Data Source=drj-pi1;User ID=csms"
            providerName="System.Data.SqlClient" />
        <add name="ConnectionString2" connectionString="Data Source=drj-pi1;Persist Security Info=True;User ID=csms;Password=password"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpCookies httpOnlyCookies="true"/>
      <httpRuntime targetFramework="4.5" />
    </system.web>
</configuration>
